{
    "semi": true,
    "trailingComma": "all",
    "singleQuote": true,
    "printWidth": 120,
    "tabWidth": 4,
    "plugins": ["prettier-plugin-embed", "prettier-plugin-sql"],
    "embeddedSqlTags": ["sql"],
    "language": "postgresql",
    "keywordCase": "lower",
    "dataTypeCase": "lower",
    "functionCase": "lower",
    "identifierCase": "lower"
}
