option_settings:
    aws:elasticbeanstalk:application:environment:
        NPM_USE_PRODUCTION: false
        ALLOWED_ORIGIN: http://localhost,https://localhost,https://firecrackervocabulary.com
        EXECUTE_MANUAL_SCRIPT: false
        PAYLOAD_LIMIT_SIZE: 1mb
        PORT: 9006
        SERVICE_API_PREFIX: /rest/ielts-service
        SERVICE_ENV: production
        SERVICE_NAME: ielts-service
        TYPEORM_CONNECTION: postgres
        TYPEORM_LOGGING: error,warn
        TYPEORM_MIGRATIONS: migrations/*.ts
        TYPEORM_PORT: 5432
        WORDS_API_ENABLED: true
    aws:elasticbeanstalk:application:environmentsecrets:
        ANDROID_VERSION_UPDATE_SECRET: arn:aws:secretsmanager:ap-south-1:388489159229:secret:firecracker-mQNyLY:ANDROID_VERSION_UPDATE_SECRET
        GENERATING_REPORT_SECRET: arn:aws:secretsmanager:ap-south-1:388489159229:secret:firecracker-mQNyLY:GENERATING_REPORT_SECRET
        GOOGLE_AUTH_CLIENT_ID: arn:aws:secretsmanager:ap-south-1:388489159229:secret:firecracker-mQNyLY:GOOGLE_AUTH_CLIENT_ID
        SWAGGER_PASSWORD: arn:aws:secretsmanager:ap-south-1:388489159229:secret:firecracker-mQNyLY:SWAGGER_PASSWORD
        SWAGGER_USERNAME: arn:aws:secretsmanager:ap-south-1:388489159229:secret:firecracker-mQNyLY:SWAGGER_USERNAME
        TYPEORM_DATABASE: arn:aws:secretsmanager:ap-south-1:388489159229:secret:firecracker-mQNyLY:TYPEORM_DATABASE
        TYPEORM_HOST: arn:aws:secretsmanager:ap-south-1:388489159229:secret:firecracker-mQNyLY:TYPEORM_HOST
        TYPEORM_PASSWORD: arn:aws:secretsmanager:ap-south-1:388489159229:secret:firecracker-mQNyLY:TYPEORM_PASSWORD
        TYPEORM_USERNAME: arn:aws:secretsmanager:ap-south-1:388489159229:secret:firecracker-mQNyLY:TYPEORM_USERNAME
        WORDS_API_AUTH_KEY: arn:aws:secretsmanager:ap-south-1:388489159229:secret:firecracker-mQNyLY:WORDS_API_AUTH_KEY
