option_settings:
    aws:elasticbeanstalk:application:environmentsecrets:
        ALLOWED_ORIGIN: arn:aws:secretsmanager:ap-south-1:388489159229:secret:prod/firecracker-node-24-app
        ANDROID_VERSION_UPDATE_SECRET: arn:aws:secretsmanager:ap-south-1:388489159229:secret:prod/firecracker-node-24-app
        EXECUTE_MANUAL_SCRIPT: arn:aws:secretsmanager:ap-south-1:388489159229:secret:prod/firecracker-node-24-app
        GENERATING_REPORT_SECRET: arn:aws:secretsmanager:ap-south-1:388489159229:secret:prod/firecracker-node-24-app
        GOOGLE_AUTH_CLIENT_ID: arn:aws:secretsmanager:ap-south-1:388489159229:secret:prod/firecracker-node-24-app
        PAYLOAD_LIMIT_SIZE: arn:aws:secretsmanager:ap-south-1:388489159229:secret:prod/firecracker-node-24-app
        PORT: arn:aws:secretsmanager:ap-south-1:388489159229:secret:prod/firecracker-node-24-app
        SERVICE_API_PREFIX: arn:aws:secretsmanager:ap-south-1:388489159229:secret:prod/firecracker-node-24-app
        SERVICE_ENV: arn:aws:secretsmanager:ap-south-1:388489159229:secret:prod/firecracker-node-24-app
        SERVICE_NAME: arn:aws:secretsmanager:ap-south-1:388489159229:secret:prod/firecracker-node-24-app
        SWAGGER_PASSWORD: arn:aws:secretsmanager:ap-south-1:388489159229:secret:prod/firecracker-node-24-app
        SWAGGER_USERNAME: arn:aws:secretsmanager:ap-south-1:388489159229:secret:prod/firecracker-node-24-app
        TYPEORM_CONNECTION: arn:aws:secretsmanager:ap-south-1:388489159229:secret:prod/firecracker-node-24-app
        TYPEORM_DATABASE: arn:aws:secretsmanager:ap-south-1:388489159229:secret:prod/firecracker-node-24-app
        TYPEORM_HOST: arn:aws:secretsmanager:ap-south-1:388489159229:secret:prod/firecracker-node-24-app
        TYPEORM_LOGGING: arn:aws:secretsmanager:ap-south-1:388489159229:secret:prod/firecracker-node-24-app
        TYPEORM_MIGRATIONS: arn:aws:secretsmanager:ap-south-1:388489159229:secret:prod/firecracker-node-24-app
        TYPEORM_PASSWORD: arn:aws:secretsmanager:ap-south-1:388489159229:secret:prod/firecracker-node-24-app
        TYPEORM_PORT: arn:aws:secretsmanager:ap-south-1:388489159229:secret:prod/firecracker-node-24-app
        TYPEORM_USERNAME: arn:aws:secretsmanager:ap-south-1:388489159229:secret:prod/firecracker-node-24-app
        WORDS_API_AUTH_KEY: arn:aws:secretsmanager:ap-south-1:388489159229:secret:prod/firecracker-node-24-app
        WORDS_API_ENABLED: arn:aws:secretsmanager:ap-south-1:388489159229:secret:prod/firecracker-node-24-app
