option_settings:
    aws:elasticbeanstalk:application:environment:
        ALLOWED_ORIGIN: http://localhost,https://localhost,https://firecrackervocabulary.com
        EXECUTE_MANUAL_SCRIPT: false
        PAYLOAD_LIMIT_SIZE: 1mb
        PORT: 9006
        SERVICE_API_PREFIX: /rest/ielts-service
        SERVICE_ENV: production
        SERVICE_NAME: ielts-service
        TYPEORM_CONNECTION: postgres
        TYPEORM_LOGGING: error,warn
        TYPEORM_MIGRATIONS: migrations/*.ts
        TYPEORM_PORT: 5432
        WORDS_API_ENABLED: true
    aws:elasticbeanstalk:application:environmentsecrets:
        MY_SECRET: arn:aws:secretsmanager:ap-south-1:388489159229:secret:prod/firecracker-node-24-app-LUF0PO
