files:
    "/etc/cron.d/cron-health-check-endpoint":
        mode: "000644"
        owner: root
        group: root
        content: |
            */1 * * * * root /usr/local/bin/cron-health-check-endpoint.sh

    "/usr/local/bin/cron-health-check-endpoint.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/bin/bash

            curl -X 'GET' \
              'https://api.firecrackervocabulary.com/rest/ielts-service/v1/health' \
              -H 'X-Client-Id: Health-Monitoring-Cron-Job' \
              -H 'accept: application/json'

            exit 0

commands:
    remove_old_cron:
        command: "rm -f /etc/cron.d/cron-health-check-endpoint.bak"
